body {
    background: rgba(255, 184, 184, 0.938);
}
h1 {
    color: blue;

}
h1:hover {
    color: rgb(0, 255, 0);
}
p {
    font-size: 20px;
    color: rgb(0, 255, 0);
}
p:hover {
    color: blue;
}